node_modules
dist
dist-before
dist-even
target
.claude
.svelte-kit
pnpm-lock.yaml
packaging
docs/media
*.md
apps/desktop/src-tauri/gen
apps/desktop/src-tauri/icons

# Written by scripts/blog-css.ts from the themes and katex packages, not by hand
services/sync/src/blog/style.ts
services/sync/src/blog/math.ts
