pkgbase = nib-bin
	pkgdesc = Lightweight markdown editor with realtime inline preview
	pkgver = 0.10.0
	pkgrel = 1
	url = https://nibeditor.com
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = hicolor-icon-theme
	optdepends = pandoc: import and export DOCX, ODT, EPUB, LaTeX and friends
	optdepends = xdg-utils: open links and attachments in the desktop default application
	provides = nib=0.10.0
	conflicts = nib
	noextract = nib.deb
	options = !strip
	options = !debug
	options = !emptydirs
	source = nib.desktop
	sha256sums = 1e3a357024c158d5f7b76dac11ac55c9df15a26d3753da44c603b881be462dcc
	source_x86_64 = nib.deb::https://github.com/lxorb/nibeditor/releases/download/v0.10.0/Nib-0.10.0-linux-x64.deb
	sha256sums_x86_64 = 45b6fb3089ce4db5791dc26f6ce8a964178139b980ce6d979a972aa5262b989f
	source_aarch64 = nib.deb::https://github.com/lxorb/nibeditor/releases/download/v0.10.0/Nib-0.10.0-linux-arm64.deb
	sha256sums_aarch64 = 348ca24d5a73ee4e3b4bbcee6bfd35d58cbef9d894e56057a932005ae91f47e3

pkgname = nib-bin
