[Desktop Entry]
Type=Application
Name=nibeditor
GenericName=Markdown Editor
Comment=Write markdown and see it as you type
Exec=nib %U
Icon=nib
Terminal=false
Categories=Office;TextEditor;Utility;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Keywords=markdown;md;editor;notes;writing;wysiwyg;
StartupWMClass=nib
StartupNotify=true
